*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(145, 119, 148);
    text-align: center;
}

.ball {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    border-radius: 100%;
}